.DS_Store
node_modules/
.idea
package-lock.json
/build
.vscode/
.idea/
vite.config.*s.*
dist/
coverage/
npm-debug.log
yarn-error.log

# Environment variables
.env
.env.local
.env.development
.env.production
.env.test.local
